{% extends 'layout.html' %}

{% block head %}
<title>Change Password</title>
<link rel="stylesheet" href="static/css/login.css">
{% endblock %}

{% block body %}
<div id="intro" class="view">

    <div class="mask rgba-black-light">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">
                    <div class="loginbox">
                        <h1>Change Password</h1><br>
                        {% include './includes/messages.html' %}
                        <p>Enter New Password<p>
                        <form method="POST">
                            <div class="textbox">
                                <input type="password" placeholder="Password" name="password" required>
                            </div>
                            <div class="textbox">
                                <input type="password" placeholder="Confirm Password" name="confirm" required>
                            </div>
                            <button class="btn btn-dark" type="submit">Change Password</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}