{% extends 'layout.html' %}

{% block head %}
    <title>Matcha</title>
{% endblock %}

{% block body %}
        <!--Mask-->
        <div id="intro" class="view">

            <div class="mask rgba-black-light">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h1 class="display-4 font-weight-bold pt-5 mb-2">Matcha</h1>

                            <!-- Divider -->
                            <!-- <hr> -->

                            <!-- Description -->
                            <i><h5 class="dark-text">Not for the faint of heart!!</h5></i>
                            <a href="/register"><button class="btn btn-dark" type="button" href="/register">Sign Up</button></a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--/.Mask-->
{% endblock %}